# Keil аый╠нд╪Ч
*.uvguix.*
*.build_log.htm
*.dep
*.lnp
*.lst
*.map
*.obj
*.o
*.crf
*.iex
*.htm
*_htmresc/
RTE/
Debug/
Release/
Listings/
Objects/
*.scvd
*.pack
*.uvoptx
JLinkLog.txt